/*Configuracion predeterminada (Mobile first)*/

* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
}

/*Estructura ordenada de la pagina*/

body {
    display: grid;
    background-color: #0155A6;
    grid-template-rows: [fila-1] 84px [fila-2] auto [fila-3] 100px [fila-4]; /*espacio a ocupar de cada seccion*/
}

/*Barra de navegacion*/

.navbar {
    background-color: #ffff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu { /*icono del menu con las tres lineas*/
    cursor: pointer;
    user-select: none;
    margin-right: 10px;
    transition: all 0.5s;
}

.rotacion {
    transform: rotate(-90deg); /*para que rote el icono del menu*/
}

.links-ul { /*Lista de links*/
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 99;
    position: absolute;
    top: 0;
    left: -100%; /*escondida*/
    bottom: 0;
    background-color: #012a50;
    transition: all 0.5s;
}

.links-li {
    width: 100%;
    text-align: center;
}

.links-li a {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 20px 0;
    font-size: 1.4rem;
    outline: 0;
    color: #ffff;
}

.links-li a:hover {
    background-color: #ffff;
    color: #0155A6;
    transition: all 0.3s;
}

.logo { /*imagen del logo*/
    width: 80px;
    height: 80px;
    margin-left: 10px;
    cursor: pointer;
}

.mostrar {
    left: -20%; /*mueve la lista oculta*/
}

/*Main*/

main {
    display: grid;
    grid-template-rows: [fila-1] auto [fila-2] auto [fila-3];
}

/*Titulos*/

.section_1 {
    color: #ffff;
    height: 60vh;
    padding: 10px;
    background-image: linear-gradient(to right, #0155A6, #00000000 140%), url('../img/fondo1.jpg');
    background-size: cover; /* Ajusta la imagen */
}

h1,h2,h3,h4 {
    font-weight: bold;
}

.title_h1 {
    font-size: 2.5rem;
}

.subtitle_h2 {
    margin-top: 10px;
    font-size: 2rem;
}

.subtitle_h3 {
    margin-top: 10px;
    font-size: 1.7rem;
}

/*Productos*/

.section_2 {
    color: #ffff;
    height: 70vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.subtitle_h3_p {
    text-align: center;
    margin: 1em 0;
    font-size: 2rem;
}

.carrousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 320px;
    max-width: 90vw;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.carrousel_arrow {
    border-radius: 200px;
    box-shadow: 5px 5px 10px #111111;
    background-color: #fff;
    border: none;
    height: 36px;
    cursor: pointer;
    position: absolute;
    z-index: 4;
    text-align: center;
}

.carrousel_prev {
    left: 3%;
}

.carrousel_next {
    right: 3%;
}

.carrousel_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 0;
    top: 0;
}

.carrousel_element {
    margin: 0 10px;
    position: relative;
    height: 300px;
    width: 250px;
    color: #000;
    background-color: #6289ae8b;
    padding: 10px;
    float: left;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 10px #111111;
    border-radius: 15px;
    transition: .5 ease-in-out;
}

.carrousel_text {
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.nombreP_carrousel {
    font-size: 1.4rem;
    color: #fff;
}

.link_details_car {
    list-style: none;
    text-decoration: none;
    font-size: 1.1rem;
}

.img_carrousel {
    width: 90%;
    height: 80%;
    object-fit: cover;
    border-radius: 15px;
}

/*Seccion 3*/

.p_pay {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
    color: #fff;
}

.ul_pay {
    margin-bottom: 4em;
}

.li_pay {
    margin: 20px 0 0 10px;
    text-align: center;
    color: #fff;
    font-size: 1.3rem;
}

/*Footer*/

footer {
    background-color: #ffff;
    color: #0155A6;
}

.p_footer {
    padding: 10px 0 0 10px;
    font-size: 1.6rem;
}

.div_icons {
    padding: 10px 0 0 10px;
}


/*Media querys (computadora y tablet)*/

@media screen and (min-width: 800px) {

    .menu {
        display: none;
    }

    .logo {
        margin-left: 10px;
    }

    .links-ul {
        flex-direction: row;
        width: 70%;
        margin-right: 20px;
        position: static;
    }

    .links-li {
        background-color: #ffff;
    }

    .links-li a {
        font-size: 1.1rem;
        padding: 32px 0;
        color: #0155A6;
    }

    .links-li a:hover {
        background-color: #0155A6;
        color: #ffff;
    }

}