<nav class="navbar">
    <img src="/img/logo.png" alt="logo" id="logo" class="logo">
    <img src="/img/menu.png" alt="menu" class="menu" id="menu">
    <ul class="links-ul" id="links">
        <li class="links-li"><a href="/quienes-somos">¿Quienes somos?</a></li>
        <li class="links-li"><a href="/contacto">Contacto</a></li>
        <li class="links-li container-submenu">
            <a href="#" class="menu__link submenu-btn">Productos</a>
            <ul class="submenu">
                <li class="links-li"><a class="sub-links-li" href="/productos?cat=electricidad">Electricidad</a></li>
                <li class="links-li"><a class="sub-links-li" href="/productos?cat=refrigeracion">Refrigeracion</a></li>
                <li class="links-li"><a class="sub-links-li" href="/productos?cat=aberturas">Aberturas</a></li>
                <li class="links-li"><a class="sub-links-li" href="/productos?cat=cyp">Cortinas y portones</a></li>
                <li class="links-li"><a class="sub-links-li" href="/productos?cat=revestimientos">Revestimientos</a></li>
                <li class="links-li"><a class="sub-links-li" href="/productos?cat=construccion">Construccion</a></li>
                <li class="links-li"><a class="sub-links-li" href="/productos?cat=amoblamientos">Amoblamientos</a></li>
            </ul>
        </li>
    </ul>
</nav>