<div class="div_mainQ">
    <p class="title_Q">¿Quienes somos?</p>
    <p class="desc_Q">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam sapiente delectus fugit, a atque amet tempore fuga iure quidem dolore quis maxime ad ab debitis laborum doloremque molestiae dolorum possimus.</p>
</div>