<div class="div_main">
    <section class="section_1">
        <h1 class="title_h1">Electricidad Gonzalez</h1>
        <h2 class="subtitle_h2">Materiales electricos</h2>    
        <h3 class="subtitle_h3">Electricidad, iluminacion y refrigeracion</h3>
    </section>
    <section class="section_2">
        <h3 class="subtitle_h3_p">Categorias</h3>
        <div class="carrousel swiper">
            <div class="carrousel_list swiper-wrapper">
                    <div class="carrousel_element swiper-slide">
                        <div class="carrousel_content" data-cat="electricidad">
                            <img src="/img/img_products/producto1.jpg" alt="producto 1" class="img_carrousel">
                            <div class="text_wrapper_carrousel">
                                <p class="nombreP_carrousel">Electricidad</p>
                                <p class="desc_carrousel">Materiales de instalacion, iluminacion, herramientas, entre otros productos</p>
                            </div>
                        </div>
                    </div>
                    <div class="carrousel_element swiper-slide">
                        <div class="carrousel_content" data-cat="refrigeracion">
                            <img src="/img/img_products/producto2.jpg" alt="producto 2" class="img_carrousel">
                            <div class="text_wrapper_carrousel">
                                <p class="nombreP_carrousel">Refrigeracion</p>
                                <p class="desc_carrousel">Componentes del sistema, gases refrigerantes y materiales de instalacion</p>
                            </div>
                        </div>
                    </div>
                    <div class="carrousel_element swiper-slide">
                        <div class="carrousel_content" data-cat="aberturas">
                            <img src="/img/img_products/producto3.jpeg" alt="producto 3" class="img_carrousel">
                            <div class="text_wrapper_carrousel">
                                <p class="nombreP_carrousel">Aberturas</p>
                                <p class="desc_carrousel">Aluminio, PVC, vidrios</p>
                            </div>
                        </div>
                    </div>
                    <div class="carrousel_element swiper-slide">
                        <div class="carrousel_content" data-cat="cyp">
                            <img src="/img/img_products/producto4.jpg" alt="producto 4" class="img_carrousel">
                            <div class="text_wrapper_carrousel">
                                <p class="nombreP_carrousel">Cortinas y portones</p>
                                <p class="desc_carrousel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, ex consequatur</p>
                            </div>
                        </div>
                    </div>
                    <div class="carrousel_element swiper-slide">
                        <div class="carrousel_content" data-cat="revestimientos">
                            <img src="/img/img_products/producto5.jpg" alt="producto 5" class="img_carrousel">
                            <div class="text_wrapper_carrousel">
                                <p class="nombreP_carrousel">Revestimientos</p>
                                <p class="desc_carrousel">Pisos, panel wall, deck</p>
                            </div>
                        </div>
                    </div>
                    <div class="carrousel_element swiper-slide">
                        <div class="carrousel_content" data-cat="construccion">
                            <img src="/img/img_products/producto6.jpeg" alt="producto 6" class="img_carrousel">
                            <div class="text_wrapper_carrousel">
                                <p class="nombreP_carrousel">Construccion</p>
                                <p class="desc_carrousel">Arena, ladrillos, cemento, entre otros materiales</p>
                            </div>
                        </div>
                    </div>
                    <div class="carrousel_element swiper-slide">
                        <div class="carrousel_content" data-cat="amoblamientos">
                            <img src="/img/img_products/producto7.jpeg" alt="producto 7" class="img_carrousel">
                            <div class="text_wrapper_carrousel">
                                <p class="nombreP_carrousel">Amoblamientos</p>
                                <p class="desc_carrousel">Mesas, sillas, sillones, entre otros productos</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="arrow_l swiper-button-prev"></div>
        <div class="arrow_r swiper-button-next"></div>
        
    </section> 
    <section class="section_3">
        <p class="p_pay">Medios de pago</p>
        <ul class="ul_pay">
            <li class="li_pay">Tarjetas de credito (3 cuotas sin interes)</li>
            <li class="li_pay">Tarjetas de debito (10% de descuento)</li>
            <li class="li_pay">Transferencias (10% de descuento)</li>
            <li class="li_pay">Efectivo (15% de descuento)</li>
        </ul>
    </section>
</div>