<div class="div_mainL">
    <div class="login_container">
        <p class="title_login">Inicia sesion</p>
        <form action="" class="form_login">
            <label for="nombreU">Usuario</label>
            <input type="text" placeholder="Ingresa nombre de usuario" id="nombreU" class="input_name">
            <label for="contra">Contraseña</label>
            <input type="password" placeholder="Ingresa contraseña" id="contra" class="input_pass">
            <a href="/Registrarse" class="link_register">¿Aun no estas registrado? ¡Registrate!</a>
            <a href="#" class="link_forget">¿Olvidaste tu contraseña?</a>
            <button type="submit" class="button_login">Ingresar</button>
        </form>
    </div>
</div>