.div_mainC {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4em 0;
}

.div_contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    color: #fff;
}

.title_contact {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.2em;
}

.form_contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    font-size: 1.3rem;
}

.form_contact label {
    margin-bottom: 0.5em;
}

.input_issue, .input_message {
    width: 100%;
    padding: 5px;
    outline: none;
    font-size: 1.3rem;
    margin-bottom: 0.5em;
    background-color: #92badf;
    border: none;
    box-shadow: 2px 2px 5px #222222;
}

.input_message {
    resize: none;
    height: 8em;
}

.submit_contact {
    background: linear-gradient(#0155A6, #4392dc);
    font-size: 1.3rem;
    margin-top: 0.5em;
    border: 2px solid transparent;
    outline: none;
    color: #fff;
    padding: 5px;
    box-shadow: 2px 2px 5px #222222;
}