.div_mainC {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4em 0;
}

.div_contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    background-color: #002446;
    padding: 2em 0;
    width: 80%;
    color: #fff;
}

.title_contact {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1.2em;
}

.form_contact {
    display: grid;
    gap: 0.8em;
    width: 80%;
    font-size: 1.3rem;
}

.input_issue, .input_message {
    width: 100%;
    padding: 5px;
    outline: none;
    font-size: 1.2rem;
    background-color: #92badf;
    border: none;
    box-shadow: 2px 2px 5px #222222;
}

.input_message {
    resize: none;
    height: 9em;
}

.submit_contact {
    background: linear-gradient(#0155A6, #0470d5);
    font-size: 1.3rem;
    width: 100%;
    border: 2px solid transparent;
    outline: none;
    color: #fff;
    padding: 5px;
    box-shadow: 2px 2px 5px #222222;
    cursor: pointer;
}

@media screen and (min-width: 800px) {
    .div_contact {
        width: 50%;
    }
    .form_contact {
        gap: 0.6em;
    }
}