.div_mainL {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_container {
    color: #fff;
    background-color: #002446;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 2em;
    margin: 3em 0;
    width: 90%;
}

.title_login {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1em;
}

.form_login {
    display: grid;
    grid-column: auto;
    gap: 0.8em;
    font-size: 1.3rem;
}

.form_login input {
    padding: 5px;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-color: #92badf;
}

.form_login a {
    color: #0155A6;
    font-size: 1.1rem;
    text-decoration: none;
}

.button_login {
    background: linear-gradient(#0155A6, #0470d5);
    font-size: 1.3rem;
    border: 2px solid transparent;
    outline: none;
    color: #fff;
    padding: 0.3em;
    box-shadow: 2px 2px 5px #222222;
    cursor: pointer;
}

@media screen and (min-width: 800px) {
    .login_container {
        width: 50%;
    }
    .form_login {
        gap: 0.6em;
    }
}